@-moz-document domain("github.com"), domain("gist.github.com") {
  pre, .highlight, .diff-table, .tab-size {
    tab-size: 2 !important;
    -moz-tab-size: 2 !important;
  }

	/* sticky the sidebar */
  @supports (position: sticky) {
    .discussion-sidebar {
      position: sticky !important;
      top: 0 !important;
    }
    .discussion-sidebar-sticky {
      position: static !important;
      width: auto !important;
    }
    .discussion-sidebar .is-placeholder {
      display: none !important;
    }
  }
  /* hide github's sticky header */
  .gh-header-sticky, .gh-header-shadow {
    display: none !important;
  }
}

@-moz-document regexp("^https?://((gist|guides|help|raw|status|developer)\\.)?github\\.com/((?!generated_pages/preview).)*$") {
  :root {
    --height: 57px;
  }
  body:not(.project-full-screen),
  /* .is-stuck = discussion sidebar & https://github.com/integrations > Category */
  .is-stuck {
    padding-top: var(--height) !important;
  }
  div.pr-toolbar.is-stuck+.pr-toolbar-shadow {
    background: #fff;
    top: var(--height) !important;
    height: 40px !important;
    border-bottom: 1px solid #ddd;
  }
  .gh-header .gh-header-sticky.is-stuck + .gh-header-shadow {
    top: var(--height) !important;
  }

  /* Fix github.com/orgs/:org/people "Select all" sub-header */
  .table-list-header.table-list-header-next.js-sticky.is-stuck {
    height: calc(var(--height) + 50px);
  }
  /* Fix long file name wrapping */
  .diff-view .file-info a {
    text-overflow: ellipsis;
    max-width: 490px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
  }
  /* Fix breaking floats */
  .file-header:before {
    clear: both;
  }
  /* Fixes other misalignment of headers */
  .diff-view .file-info span.diffstat {
    top: -11px !important;
  }
  div.is-stuck .diffbar {
    margin-top: -12px !important;
  }
  .diff-view .file-header {
    height: 40px !important;
  }
  .diff-view .file-info {
    position: absolute;
    top: 4px !important;
  }
  .diff-view .file-actions {
    position: absolute;
    top: 5px !important;
    right: 5px !important;
  }
  /* Override GitHub-Dark settings */
  div.diffbar {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  /* make diff file header sticky under the toolbar & main header;
   * modified from Refined GitHub extension */
  @supports (position: sticky) {
    #files .file-header {
      position: sticky !important;
      position: -webkit-sticky !important;
      top: 95px !important;
      height: 40px !important;
      z-index: 6 !important;
    }
  }
  /* user page bar now appears under fixed header */
  .user-profile-sticky-bar:after, div.discussion-sidebar, div.blog-aside {
    top: var(--height) !important;
  }
  #toc + #files .file-header {
    top: var(--height) !important;
  }
  /* move loading bar into view */
  .pjax-loader-bar, .pjax-loader-bar .progress {
    z-index: 1001 !important;
  }
  /* move anchors below fixed header */
  .accessibility-aid, a.anchor {
    padding-top: 55px !important;
    margin-top: -55px !important;
    pointer-events: none;
    /* anchors on help.github.com */
    min-width: 5px !important;
    display: inline-block !important;
  }
  a.anchor svg, /* spans used on help.github.com */
  a.anchor span {
    pointer-events: all !important;
    min-width: 20px !important;
  }
  /* make personal, blog, explore, etc match logged in height */
  .site-header {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  /* page indicator on personal, open source, business & explore pages */
  .site-header-nav-main .nav-item:after {
    bottom: -10px !important;
  }
  /* .main-content? */
  #js-flash-container + .main-content {
    margin-top: 0 !important;
  }
  /* .header = logged-in */
  body.logged-in .header,
  /* .site-header = not-logged-in (removed 22 Aug 2017) */
  .site-header,
  /* .Header = (changed from .header) both logged in and not,
  * added on 22 Aug 2017
   */
  .Header,
  /* #com #header = help.github.com */
  #com #header {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    z-index: 1000 !important;
  }
  /*
   * GitHub Notifications Dropdown userscript tweak
   * https://openuserjs.org/scripts/joeytwiddle/Github_Notifications_Dropdown
   */
  .notifications-dropdown {
    z-index: 1001 !important;
  }
  /* Octotree side panel open - see #6 */
  .octotree-show .header .container, .octotree-show .Header .container {
    margin-left: auto !important;
  }
}
@-moz-document domain("gist.github.com") {
  /* gists don't have a secondary header */
  @supports (position: sticky) {
    #files .file-header {
      top: var(--height) !important;
    }
  }
}
