:root:not([customizing]) {
	#nav-bar toolbarbutton {
		margin-left: -28px !important;
		opacity: 0 !important;
		transform: scale(.85, .85) !important;
		pointer-events: none !important;
		transition: all 100ms var(--animation-easing-function) !important;
	}

	:hover > #nav-bar toolbarbutton,
	#navigator-toolbox:focus-within #nav-bar toolbarbutton,
	:hover > #titlebar toolbarbutton {
		transform: scale(1, 1) !important;
		opacity:1 !important;
		margin-left:0 !important;
		pointer-events: auto !important;
	}

	:hover > #nav-bar #urlbar,
	#navigator-toolbox:focus-within #nav-bar #urlbar {
		font-size: 1.2em !important;
	}
}

/* url bar text shrinks when in "stealth mode" */
#nav-bar #urlbar {
	font-size: 0.85em !important;
  transition: all 100ms var(--animation-easing-function) !important;
}

/* some experimentation with expanding tab on hover to see the title better */
.tabbrowser-tab:not([selected]):hover {
  min-width: 300px !important;
  transition: min-width 150ms var(--animation-easing-function) 2s !important;
}

:root {
  --tabs-border: transparent !important;
	--toolbarbutton-border-radius: 0px !important;
}

.tabbrowser-tab::after, .tabbrowser-tab::before {
  border-left: none !important;
}

#urlbar, .searchbar-textbox {
  border: none !important;
  box-shadow: none !important;
}

#nav-bar {
	margin-top: 0px !important;
	border-top: 0px !important;
	box-shadow: none !important;

	/* nav bar is semi opaque when unhovered */
	> * {
		opacity: 0.5;
		transition: opacity 0.3s;
	}

	&:hover > * {
		opacity: 1 !important;
	}
}

#urlbar {
	opacity:1 !important;
	margin-left: 1px !important;
	margin-right: 1px !important;

	.urlbar-input-box {
		opacity:1 !important;
	}
}

#urlbar,
.searchbar-textbox {
	border: 0px !important;
	height: 20px !important;
}

.tab-background {
	border-top: none !important;
}

.tabs-newtab-button, #new-tab-button, #alltabs-button {
	color: rgba(240, 240, 240, 1);
	border-top: 0px !important;
	margin-bottom: 0px !important;
}


window:not([chromehidden~="toolbar"]) #urlbar-container > .toolbarbutton-1:-moz-any([disabled],
	:not([open]):not([disabled]):not(:active)) > .toolbarbutton-icon[class], #main-window:not([customizing]) #back-button[disabled] > .toolbarbutton-icon[class] {
	box-shadow: none !important;
	border: 0px !important;
}

toolbarbutton {
	&.bookmark-item {
		border: 1px rgba(0, 0, 0, 0) solid !important;

		&:hover {
			background-color: rgba(75, 75, 75, 1);
			border: 1px rgba(75, 75, 75, 1) solid !important;
		}
	}
}

.titlebar-placeholder[type="post-tabs"] {
	width: 50px !important;
}

#TabsToolbar {
	margin-bottom: 0px !important;
}
#navigator-toolbox::after {
	border-bottom: 0px !important;
}

#TabsToolbar .tab-background {
	border-right: 0px !important;
	border-left: 0px !important;
}

.scrollbutton-up, .scrollbutton-down {
	margin-bottom: 0px !important;

	&:hover {
		background: rgba(42, 42, 42, 1) ;

		&:active {
			background: #444;
		}
	}
}

.tabs-newtab-button .toolbarbutton-icon {
	background: transparent ;
}

#urlbar, .searchbar-textbox {
	box-shadow: none !important;
}

.close-icon > .toolbarbutton-icon {
	border-radius: 0px !important;
}

#TabsToolbar[movingtab] {
	padding-bottom: 0px !important;

	> .tabbrowser-tabs {
		padding-bottom: 0px !important;
		margin-bottom: 0px !important;
	}
}

#new-tab-button > .toolbarbutton-icon, #alltabs-button > .toolbarbutton-icon {
	background-color: transparent;
}

#context-back > .menu-iconic-left, #context-forward > .menu-iconic-left, #context-reload > .menu-iconic-left, #context-stop > .menu-iconic-left, #context-bookmarkpage > .menu-iconic-left {
	padding: 0px !important;
}

#tabbrowser-tabs {
	--tab-line-color: -moz-win-accentcolor !important;
	--tab-loading-fill: -moz-win-accentcolor !important;
	box-shadow: none !important;
}
#tabbrowser-tabs:-moz-window-inactive {
	--tab-line-color: rgb(128, 128, 128) !important;
}

.webextension-browser-action {
	filter: saturate(0%);
}


:root[lwtheme-image]:-moz-lwtheme-brighttext {
  text-shadow: none !important;
}

.tabbrowser-tab:not([selected]):not([pinned]) .tab-close-button {
  display: none !important;
}

.tabbrowser-tab:not([selected]):not([pinned]):hover .tab-close-button {
  display: -moz-box !important;
}

.tabbrowser-tab[pending] {
	font-style: italic;
}

toolbarspring {
  min-width: 8px;
  max-width: 8px;
}

/* Change tab max width */
.tabbrowser-tab[fadein]:not([pinned]) {
  max-width: 300px !important;
}
